/*

  css
  
*/


@font-face{
 font-family: Sassoon;

 /*
 
  this ends up inside build so the path is up one
  
 */
 src: url('sassoon.otf') format('opentype');
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin:0px !important;
  padding: 0px;
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #B8D4EF 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #B8D4EF 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #B8D4EF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #FFFFFF), color-stop(1, #B8D4EF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #B8D4EF 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #B8D4EF 100%);
}

.arrow{
  width:25px;
  height:100px;
  cursor:pointer;
  display:none;
}

.leftarrow{
  position:absolute;
  left:10px;
  top:40%;
  background:url(leftarrow.png);
}

.rightarrow{
  position:absolute;
  right:10px;
  top:40%;
  background:url(rightarrow.png);
}

img{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.page{
  display:none;

}


.pageturner-book .leafedge{
  background-color: #f5f5f5;
  /*border:1px dotted #666;*/
}

.pageturner-book .leaf{
  /*border:1px dotted #999;*/
}

#book{
  width:934px;
  height:700px;
  position: absolute;
  background-color:#fff;
}

.dropshadow{
  -moz-box-shadow: 10px 10px 5px rgba(0,0,0,.35);
  -webkit-box-shadow: 10px 10px 5px rgba(0,0,0,.35);
  box-shadow: 10px 10px 5px rgba(0,0,0,.35);
}

.bookpage{
  font-family: Sassoon;

  background-color:#fff;
  background:url(ricepaper2.png);
  text-align: left;
  height:100%;
}

.monsterpic{
  float:right;
  border:1px solid black;
  margin-left:10px;
  margin-bottom:10px;
}

@media only screen and (min-height: 1px) and (max-height: 356px) {
  #book {
    width: 360px !important;
    height: 240px !important;
  }
  .monsterpic{
    width:160px !important;
  }
  .bookpage{
    font-size:7pt !important;
    line-height:9pt !important;
    padding:5px;
  }
}

@media only screen and (min-height: 357px) and (max-height: 509px) {
  #book {
    width: 476px !important;
    height: 357px !important;
  }
  .monsterpic{
    width:240px !important;
  }
  .bookpage{
    font-size:9.5pt !important;
    line-height:12.5pt !important;
    padding:8px;
  }
}

@media only screen and (min-height: 510px) and (max-height: 599px) {
  #book {
    width: 680px !important;
    height: 510px !important;
  }
  .monsterpic{
    width:300px !important;
  }
  .bookpage{
    font-size:12pt !important;
    line-height:18pt !important;
    padding:12px;
  }
}

@media only screen and (min-height: 600px) and (max-height: 699px) {
  #book {
    width: 800px !important;
    height: 600px !important;
  }
  .monsterpic{
    width:380px !important;
  }
  .bookpage{
    font-size:15pt !important;
    line-height:22pt !important;
    padding:15px;
  }
}

@media only screen and (min-height: 700px) {
  #book {
    width: 934px !important;
    height: 700px !important;
  }
  .monsterpic{
    width:500px !important;
  }
  .bookpage{
    font-size:18pt !important;
    line-height: 24pt !important;
    padding:20px;
  }
}
