<html>
<head>
  <title><%= document.config.title %></title>
  <link rel="stylesheet" type="text/css" href="build/build.css">
  <link rel="stylesheet" type="text/css" href="book.css">
  <style type="text/css">

<% 
  for(var i=0; i<document.pages.length; i++){
    var no = i+1;
    var page = document.pages[i];

%>

    #book .pagebg<%- no %>{
      background:url(images/page<%- no %>.png);
    }

<% } %>
  </style>
</head>
<body>
  
  <div id="shadow"></div>
  <div id="home">

  </div>
  <div id="book">
      
  </div>
  <div class="arrow leftarrow"></div>
  <div class="arrow rightarrow"></div>
  <div id="teddybutton">
    <img class="normal" src="img/cornertab.png" />
    <img class="highlight" src="img/cornertabactive.png" />
  </div>
  
  <script id="homepagetemplate" type="text/template">
    <table width="100%">
      <tr>
        <td colspan=3 align=center height=1>
          <img id="logoimage" src="img/logo.png" />
        </td>
      </tr>
      <tr>
        <td width=50% align=right valign=top>
          <img id="nobubbleimage" class="pointercursor" src="img/nobubble.png" />
        </td>
        <td align=center width=1>
          <img id="frontpageimage" class="pointercursor boxshadow" src="icons/frontpage.png" />
        </td>
        <td width=50% align=left valign=top>
          <img id="bubbleimage" class="pointercursor" src="img/bubble.png" />
        </td>
      </tr>
    </table>
  </script>

  <script>
    window.$storytimebook = <%- JSON.stringify(document, null, 4) %>;
  </script>
  <script src="env.js"></script>
  <script src="build/build.js"></script>
  <script src="book.js"></script>
  <script src="home.js"></script>
  <script src="dictionary.js"></script>
  <script src="app.js"></script>
  <script>
    var $ = require('jquery');

    function onDeviceReady(){
      $(window.$storytimeisland_application);
    }

    if(window.$phonegap){
      document.addEventListener("deviceready", onDeviceReady, false);
    }
    else{
      onDeviceReady();
    }
  </script>  


  <!--
    HERE
   -->
</body>
</html>