/*

  css
  
*/



* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.page{
  display:none;

}

.bookpage{
  font-family: Sassoon;
  font-size:14pt;
  
}

.pageturner-book .leafedge{
  background-color: #f5f5f5;
  /*border:1px dotted #666;*/
}

.pageturner-book .leaf{
  /*border:1px dotted #999;*/
}

.pageturner-book .content {
  /*padding:20px;*/
  font-family: Sassoon;

}


.storytimeisland_book{
  position:absolute;
  left:0px;
  top:0px;



}


.boxshadow{
  -moz-box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  -webkit-box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}

#book .pagebg{
  width:100% !important;
  height:100% !important;
  background-size:contain !important;
  background-repeat:no-repeat !important;
  background-position:center !important;
}

.pagetext{
  padding:0px;
  font-family: Sassoon;
  font-size:19pt;
  line-height: 26pt;
  text-align: left;
      -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.dictionarytab{
  cursor:default;
  position: absolute;
  font-family: Sassoon;

  text-align: center;
  
  background-color:rgba(255,255,255,0.8);
  /*border:1px dotted #000;*/
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;  
  box-shadow:3px 3px 5px rgba(0,0,0,.5);
  z-index: 1232;
  transform:scale(0.1,0.1);
  -webkit-transform:scale(0.1,0.1);
  -ms-transform:scale(0.1,0.1);
  -moz-transform:scale(0.1,0.1);
}

.quickanimator{
  -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.animator{

/*
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
*/  

  -webkit-transition: 400ms linear all;
  -moz-transition: 400ms linear all;
  -ms-transition: 400ms linear all;
  -o-transition: 400ms linear all;
  transition: 400ms linear all;
}

.animatorquick{


  -webkit-transition: 100ms ease-in-out all;
  -moz-transition: 100ms ease-in-out all;
  -ms-transition: 100ms ease-in-out all;
  -o-transition: 100ms ease-in-out all;
  transition: 100ms ease-in-out all;
}
